.main__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex-direction: column;
  gap: 10px;
}

.main__button {
  width: 100px;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: #f5f5f5;
  transition: background-color .5s, color .5s;
}

.main__button:hover {
  cursor: pointer;
  background-color: #2e2e2e;
  color: #fff;
}

.about__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

.services__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  gap: 20px;
}

.container__cards {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  margin: 10px;
}