.card {
    background: #f5f5f5;
    color: #000;
    display: flex;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: -2px 2px 2px 0 #000;
    max-width: 900px;
    margin: 30px;
    min-width: 300px;
    min-height: 150px;
}