.card__forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--bg, #f5f5f5);
    min-width: 100px;
    min-width: 100px;
    box-shadow: -2px 2px 2px 0 #000;
    border-radius: 10px;
    padding: 50px;
    max-height: 400px;
    overflow-y: auto;
}