.footer {
    min-height: 50vh;
    width: 100%;
    background-color: #222;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    color: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
}

.footer__title {
    border-bottom: 2px solid #f5f5f5;
    width: 100%;
    padding: 5px 0;
}

.footer__list {
    list-style: none;
}

.footer__item {
    margin-top: 15px;
}

.footer__container {
    width: 100%;
}

.footer__container--extends {
    grid-column: 4/6;
    text-align: end;
}

.footer__logo {
    width: 60px;
    margin: 10px 0;
    border-radius: 20px 0px 20px 0;
}