.input__container {
    width: 90%;
    text-align: center;
    display: flex;
    gap: 5px;
    align-items: center;
    color: var(--colorText);
}

.input__form {
    flex: 1;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    color: #2e2e2e;
    background: var(--bgInput, #fff);
    box-shadow: -1px 1px 2px 0 #555;
}

.input--submit {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}