.mainPage__container {
    display:  flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.card_container {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}