.navbar {
    background-color: #2e2e2e;
    min-height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    z-index: 100;
}