.nav__link {
    position: relative;
    text-decoration: none;
    color: var(--color);
}

.nav__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s ease;
}

.nav__link:hover::after {
    width: 100%;
}


.nav__item {
    display: inline-block;
    cursor: pointer;
}

