.text__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 30px;
    flex: 1;
    text-align: justify;
    font-size: 15px;
}